.square {
  width: 25px;
  height: 25px;
  background-color: rgb(228, 228, 228);
  /*outline: 1px solid rgb(196, 196, 196);*/
  transition-duration: 0.03s;
  -webkit-user-drag: none;
  /*user-drag: none; */
  user-select: none;
}
.square:hover {
  background-color: rgb(165, 165, 165);
  transition-duration: 0.03s;
}
.Row {
  display: grid;
  grid-template-columns: repeat(60, 25px);
}
.red, .blue, .green, .normal, .yellow, .magenta, .cyan, .black {
  margin-top: 10px;
  display: inline-block;
  width: 75px;
  height: 75px;
  transition-duration: 0.2s;
  -webkit-user-drag: none;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.normal {
  background-color: rgb(228, 228, 228);
}
.yellow {
  background-color: yellow;
}
.magenta {
  background-color: magenta;
}
.cyan {
  background-color: cyan;
}
.black {
  background-color: black;
}
.red:hover, .blue:hover, .green:hover, .normal:hover, .yellow:hover, .magenta:hover, .cyan:hover, .black:hover {
    transition-duration: 0.2s;
    border-radius: 3px;
}
.red{
    background-color: rgb(255, 0, 0);
}
.blue{
    background-color: rgb(0, 0, 255);
}
.green{
    background-color: rgb(0, 255, 0);
}
.PaintRow {
  display: grid;
  grid-template-columns: repeat(4, 90px);
}